/* You can add global styles to this file, and also import other style files */

html,body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color:white;
    background-color: rgb(38,38,38)
}

.row {
    margin:0;
}
.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}